{% extends 'base.njk' %}
{% block content %}

        <div class="row mb-3">
            {% set iconClass = "bi-heart-fill" if likedFlower else "bi-heart" %}
            <div class="col-md-6 col-lg-4">
                <article class="card">
                    <img class="card-img-top" src="{{ IMAGES_URL }}/{{ flower.photo }}"
                        alt="flower">
                    <div class="card-body">
                        <h3>{{ flower.name }}</h3>
                        <p>Price: {{ flower.price }}</p>
                        <p>Instructions: {{flower.instructions}}
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                         <form action="/detail/{{ flower.productId }}/like" method="post">
                        <button type="submit" class="btn">
                            <i class="bi {{ iconClass}} text-danger"></i>
                        </button>
                        <button id="seeComBtn" class="btn btn-primary">See Comments</button>
                    </div>
                </article>
            </div>
        </div>
        
        
        <div class="row align-items-baseline mb-3 g-3" id="commentsRow">

        </div>
{% endblock content %}