{% extends 'base.njk' %}
{% block content %}

        <div class="row mb-3">
            <div class="col-md-6 col-lg-4">
                <article class="card">
                    <img class="card-img-top" src="https://services.hanselandpetal.com/photos/california_snow.jpg"
                        alt="flower">
                    <div class="card-body">
                        <h3>AZALEA</h3>
                        <p>Price: 15.99</p>
                        <p> Choose the brightest windows in your house for your orchids, place on an humidity tray and spray
                            regularly.
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <i class="bi bi-heart text-danger" onclick="likeFlower(this)"></i>
                        <button id="seeComBtn" class="btn btn-primary">See Comments</button>
                    </div>
                </article>
            </div>
        </div>
        
        
        <div class="row align-items-baseline mb-3 g-3" id="commentsRow">

        </div>
{% endblock content %}