{% extends 'base.njk' %}
{% block content %}
    <h2 class="display-2">All Flowers</h2>
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6">
            <article class="card">
                <img class="card-image" src="https://services.hanselandpetal.com/photos/california_snow.jpg" alt="flower">
                <div class="card-body">
                    <h3>AZALEA</h3>
                    <p>Price: 15.99</p>
                    <a class="btn btn-outline-info" href="detail.html">More details</a>
                </div>
            </article>
        </div>
    </div>
{% endblock  %}